:root{
    --orange-color:#FF6E00;
    --black-color:#000000;
    --white-color:#ffffff;
    --purple-color:#30106B;
    --light-purple:#9F8EBF;
    --heading-color: rgba(0, 0, 0, 0.75);

    --poppins:'Poppins', sans-serif;

}
/* FOOTER */
footer{
    background:  linear-gradient(175.03deg, #9F8EBF 4%, #30106B 69.57%, #30106B 92.53%);
    
}

.footer-content h1{
    color: var(--white-color);
    font-size: 3.6rem;
    font-weight: 800;
    text-align: center;
}
.footer-content p{
    color: var(--white-color);
    font-size: 1.3rem;
    font-weight: 400;
    margin-top: .8rem;
    text-align: center;
}


form{
    margin-top: 2rem;
    max-width: 100%;
    position: relative;
}
input{
    margin:0;
    padding-left: 1rem;
    width: 100%;
    outline: none;
    color: rgba(0, 0, 0, 0.5);
    font-size: .92rem;
    font-weight: 400;
    height:  5.18rem;
    border: 1.00653px solid #A696C4;
    border-radius: 1.20rem;
    box-shadow: 2.23026px 2.23026px 2.23026px rgba(0, 0, 0, 0.25);
}
.subscribe-button{
    background: var(--orange-color);
    color: var(--white-color);
    position: absolute;
    top: 12%;
    right: 0;
    z-index: 2;
    font-size: .9rem;
    font-weight: 700;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    margin-right: .6rem;
    cursor: pointer;
    height: 3.62rem;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: .8rem;
}
.brand-logo{
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--white-color);
    margin-top: 2rem;
}
.brand-logo h3{
    font-size: 1.09rem;
    font-weight: 700;

}
.circled-bg{
    border-radius: 100%;
    width: 3.1rem;
    height: 3.1rem;
    background: var(--white-color);
}.circled-bg img{
    width: 2.9rem;
    height: 2.6rem;
    margin-top: .3rem;
    margin-left: .2rem;
}
.footer-content>hr{
    background: var(--orange-color);
    height: .3rem;
    margin-top: 1rem;
}
.details{
    text-align: start;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--white-color);
    margin-top: 1rem;

}
.footer-link{
    margin-top: 1.6rem;
    display: flex;
    flex-wrap: nowrap;
    gap: 2rem;
    font-size: 1.2rem;
    color: var(--white-color);

}
.footer-link-heading{
    font-weight: 700;
    font-size: 1.3rem;

}

.footer-link-others a,
.footer-link-heading a{
    color: var(--white-color);
}