:root{
    --orange-color:#FF6E00;
    --black-color:#000000;
    --white-color:#ffffff;
    --purple-color:#30106B;
    --light-purple:#9F8EBF;
    --heading-color: rgba(0, 0, 0, 0.75);

    --poppins:'Poppins', sans-serif;

}
/* FOOTER */
footer{
    background:  linear-gradient(175.03deg, #9F8EBF 4%, #30106B 69.57%, #30106B 92.53%);
    
}

.footer-content h1{
    color: var(--white-color);
    font-size: 3.6rem;
    font-weight: 800;
    text-align: center;
}
.footer-content p{
    color: var(--white-color);
    font-size: 1.3rem;
    font-weight: 400;
    margin-top: .8rem;
    text-align: center;
}

.brand-logo{
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--white-color);
    margin-top: 2rem;
}
.brand-logo h3{
    font-size: 1.09rem;
    font-weight: 700;
}
.circled-bg{
    border-radius: 100%;
    width: 3.1rem;
    height: 3.1rem;
    background: var(--white-color);
}.circled-bg img{
    width: 2.9rem;
    height: 2.6rem;
    margin-top: .3rem;
    margin-left: .2rem;
}

.footer-content>hr{
    background: var(--orange-color);
    height: .3rem;
    margin-top: 1rem;
}
.details{
    text-align: start;
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--white-color);
    margin-top: 1rem;

}
.footer-link{
    margin-top: 1.6rem;
    display: flex;
    flex-wrap:nowrap;
    font-size: 1.2rem;
    color: var(--white-color);

}
.footer-link-content{
    margin-right: 1.5rem;
}
.footer-link-heading{
    font-weight: 700;
    font-size: 1.3rem;

}

.footer-link-others a,
.footer-link-heading a{
    color: var(--white-color);
}
.footer-link-others{
    margin-top: 0.5rem;
}
.footer-link-others a:hover,
.footer-link-heading a:hover{
    color:var(--orange-color);
}

.footer-logo{
    display: none;
}
.footer-logo-content h4{
    display: none;
}

@media(min-width:980px){
    footer{
        margin-top: 4rem;
    }
    .footer-content{
        padding: 3rem;
    }
    .footer-form{
        margin: 0 auto;
        margin-top: 4rem;
        width: 51rem; 
        padding-bottom: 2rem;
    }
    .footer-content p{
        font-size: 2rem;
    }
    .brand-logo{
        display: none;
    }
    .footer-logo-content h3{
        font-size: 2rem;
    }
    .footer-logo-content h4{
        font-size: 2rem;
        display: inline-block;
    }
    .footer-logo-details{
        display: none;
    }
    .footer-logo{
        display: flex;
    }
    .footer-link{
        justify-content: space-between;
        align-items: start;
    }
    .circled-bg{
        border-radius: 100%;
        width: 6.2rem;
        height: 6.0rem;
        background: var(--white-color);
    }.circled-bg img{
        width: 5.5rem;
        height: 5.3rem;
        margin-top: .6rem;
        margin-left: .6rem;
    }
    .footer-link-heading{
        font-size: 2rem;
    }
    .footer-link-others{
        font-size: 1.8rem;
        margin-top: 1rem;
    }
    

   
}